body {
  background-color: #fff;
  font-family: "Roboto", "Raleway", sans-serif;
  color: #434455;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* <!--~~~~~~~~~~~~~~~~~~~~~Header~~~~~~~~~~~~~~~~~~~~~~~~--> */

.ws-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.ws-logo span {
  color: #4d5ae5;
}

.header-nav-item a {
  font-weight: 500;
  color: #2e2f42;
}
.header-nav-item a:hover {
  color: #404bbf;
}

.header-nav-item a:active {
  color: #404bbf;
  text-decoration: underline 4px solid #404bbf;
  text-underline-offset: 20px;
  border-radius: 2px;
}

.contact__item a {
  color: #434455;
}

.contact__item a:hover {
  color: #404bbf;
}

.contact__item a:focus {
  color: #404bbf;
}

/* <!--~~~~~~~~~~~~~~~~~~~~~Main~~~~~~~~~~~~~~~~~~~~~~~~--> */
/* <!-- first section "ws-order" --> */
.ws-order {
  background-color: #2e2f42;
}

.home-page__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #fff;
}

.order__button {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
}

.order__button:hover {
background-color: #404bbf;
}

.order__button:active {
	background-color: #404bbf;
	}

/* <!-- Second section "ws-offer-for-users" --> */

.offer-list-text h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

/* <!-- Third section "ws-team" --> */

.team-item__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
}

.team-item__profession {
  text-align: center;
}

/* <!-- the four section "Our Portfolio" --> */

.our-portfolio-item__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

/* <!--~~~~~~~~~~~~~~~~~~~~~Footer~~~~~~~~~~~~~~~~~~~~~~~~--> */
.web-studio-footer {
  background-color: #2e2f42;
}

.footer-left-info__text {
  color: #f4f4fd;
}
