body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.5;
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* <!--~~~~~~~~~~~~~~~~~~~~~Header~~~~~~~~~~~~~~~~~~~~~~~~--> */

.ws-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-span {
  color: #2e2f42;
}

.nav-item__link {
  font-weight: 500;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.nav-item__link:hover {
  color: #404bbf;
}

.nav-item__link:active {
  color: #404bbf;
}

.nav-item__link:focus {
  color: #404bbf;
}

.ws-header-inner-contacts {
  font-style: normal;
}

.contact-item__link {
  color: #434455;
  letter-spacing: 0.02em;
}

.contact-item__link:hover {
  color: #404bbf;
}

.contact-item__link:focus {
  color: #404bbf;
}

/* <!--~~~~~~~~~~~~~~~~~~~~~Main~~~~~~~~~~~~~~~~~~~~~~~~--> */
/* <!-- first section "ws-order" --> */
.ws-order {
  background-color: #2e2f42;
}

.home-page__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.order__button {
  width: 169px;
  height: 56px;
  background: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

.order__button:hover {
  background-color: #404bbf;
}

.order__button:active {
  background-color: #404bbf;
}

.order__button:focus {
  background-color: #404bbf;
}

/* <!-- Second section "ws-offer-for-users" --> */

.offer-list__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.offer-list__text {
  letter-spacing: 0.02em;
}

/* <!-- Third section "ws-team" --> */
.ws-team {
  background-color: #f4f4fd;
}

.offer-list__title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-list-item {
  background-color: #ffffff;
}

.team-item__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.team-item__profession {
  text-align: center;
  letter-spacing: 0.02em;
}

/* <!-- the four section "Our Portfolio" --> */

.our-portfolio__title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.our-portfolio-item__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.our-portfolio-item__text {
  letter-spacing: 0.02em;
}

/* <!--~~~~~~~~~~~~~~~~~~~~~Footer~~~~~~~~~~~~~~~~~~~~~~~~--> */
.web-studio-footer {
  background-color: #2e2f42;
}

.footer-left-info__text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.footer-logo__span {
  color: #f4f4fd;
}
